        <li class="span4">
            <div class="thumbnail">
                <a href="http://i.wjia.com.cn/coupon/selectCouponById?couponId=%(COUPON_ID)s"><img src="%(URL)s" /></a>
                <div class="caption">
                    <h2><a href="http://i.wjia.com.cn/coupon/selectCouponById?couponId=%(COUPON_ID)s">%(SHOP_NAME)s</a></h2>
                    <p>%(TITLE)s&hellip;</p>
                    <p>有效期：%(EXPIRED_DATE)s</p>
                    <h4>人均：￥%(AVERAGE_PRICE)d元</h4>
                </div>
            </div>
        </li>