<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="blog">
    <meta name="author" content="leo">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>{% block title %}{{ _("Site_Name") }}{% end %}</title>
    {% if handler.settings['debug'] %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ static_url('css/blog-admin.css') }}" >
    {% else %}
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/css/bootstrap.min.css" >-->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ static_url('css/blog-admin.css') }}" >
    {% end %}

    {% block other-css %}
    {% end %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed top navbar -->
<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Charisma Logo" src="/static/img/logo.png"/>
                {% if handler.options %}
                    {{ handler.options['blogname'] }}
                {% else %}
                    Blog
                {% end %}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- user dropdown starts -->
                <li class="dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i><span class="hidden-xs">&nbsp;{{ current_user.login }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <!-- user dropdown ends -->
                <li><a href="/admin/home">Dashboard</a></li>
                <li><a href="/admin/setting">Settings</a></li>
                <li><a href="/admin/profile">Profile</a></li>
                <li><a href="/admin/help">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</div>

<div id="content" class="container-fluid">
<!--<div id="content" class="container-fluid">-->
    <div class="row">
        <!--left menu start-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/admin/home"><i class="glyphicon glyphicon-home"></i><span class="hidden-sm">&nbsp;Dashboard</span></a></li>
                <li><a href="/admin/post"><i class="glyphicon glyphicon-edit"></i><span class="hidden-sm">&nbsp;Publish</span></a></li>
                <li><a href="/admin/post-list"><i class="glyphicon glyphicon-list-alt"></i><span class="hidden-sm">&nbsp;Post List</span></a></li>
                <li><a href="/admin/category"><i class="glyphicon glyphicon-list"></i><span class="hidden-sm">&nbsp;Category</span></a></li>
                <li><a href="/admin/page"><i class="glyphicon glyphicon-tasks"></i><span class="hidden-sm">&nbsp;Page</span></a></li>
                <li><a href="/admin/file-manager"><i class="glyphicon glyphicon-folder-open"></i><span class="hidden-sm">&nbsp;File Manager</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/profile"><i class="glyphicon glyphicon-user"></i><span class="hidden-sm">&nbsp;Profile</span></a></li>
                <li><a href="/admin/setting"><i class="glyphicon glyphicon-wrench"></i><span class="hidden-sm">&nbsp;Setting</span></a></li>
            </ul>
        </div>
        <!--left menu end-->

        <!-- content start -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
            <!--content header-->
            <header>
                {% block content-nav %}
                <h1 class="page-header"><a>Dashboard</a></h1>
                <div class="row">
                    <ul class="breadcrumb">
                        <li><a href="/admin/home">Dashboard</a></li>
                        <li><a href="/admin/post">New Post</a></li>
                    </ul>
                </div>
                {% end %}
            </header>


            <main>
                {% block content-body %}
                <div class="row">
                    <div class="row placeholders">
                    </div>
                </div>
                {% end %}
            </main>
            <!-- Fixed bottom navbar -->
            <footer>
                {% block content-footer %}
                <div>

                </div>
                {% end %}
            </footer>
        </div>
    </div>
</div><!--</div>-->

<!-- Fixed bottom navbar -->
<div role="navigation" class="navbar navbar-default navbar-fixed-bottom">
    <br/>
    <p class="text-center">
        Copyright &copy; 2014 - Xu Wei -
        <span class="credit">Powered by <a href="http://www.i733.com">i733</a></span>
    </p>
</div>
<!-- external javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% if handler.settings['debug'] %}
<script src="{{ static_url('js/jquery.js') }}"></script>
<script src="{{ static_url('js/bootstrap.js') }}"></script>
<script src="{{ static_url('js/docs.js') }}"></script>
{% else %}
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<!--<script src="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/docs.min.js') }}"></script>
{% end %}

{% block other-javascript %}
{% end %}

</body>
</html>
