{% extends "base.html" %}

{% block content-nav %}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/admin/home">Dashboard</a></li>
        <li class="pull-right">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <a href="/admin/home"><span class="hidden-sm">&nbsp;Return to Home </span></a>
        </li>
    </ul>
</div>
{% end %}
{% block content-body %}
<div class="row">
    <div class="list-group">
        <ul>
            <li><a role="button" href="/admin/post/add" >New Post</a></li>
            <li><a role="button" href="/filemanager" >File Manager</a></li>
        </ul>
    </div>
</div>
{% end %}

{% block content-footer %}

{% end %}