<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="blog">
    <meta name="author" content="leo">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <title>Signin</title>
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/css/bootstrap.min.css" >-->
    {% if handler.settings['debug'] %}
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}" >
    {% else %}
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" >
    {% end %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ static_url('css/signin.css') }}" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<div class="container">
    <form class="form-signin" role="form" action="/admin/login" method="post">
        {% module xsrf_form_html() %}
        {% autoescape None %}
        <h2 class="form-signin-heading">Please sign in</h2>

        {% raw form.username(placeholder='Username', class_="form-control") %}
        {% raw form.password(placeholder='Password', class_="form-control") %}

        {% if form.username.errors or form.password.errors %}
        <ul class="text-danger">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% end %}

            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% end %}
        </ul>
        {% end %}


        <label class="checkbox">
            <input type="checkbox" value="1" name="remember_me">Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <a class="btn btn-link" href="/admin/account/resend_password" title="Forgot password">Forgot password?</a>
        <a class="btn btn-link" href="/" title="return to home">--return to home</a>
    </form>

</div> <!-- /container -->

{% if handler.settings['debug'] %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>-->
<script src="{{ static_url('js/jquery.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<script src="{{ static_url('js/bootstrap.js') }}"></script>
{% else %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>-->
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
{% end %}

</body>
</html>

