{% extends "base.html" %}

{% block other-css %}
<link rel="stylesheet" href="http://cdn.bootcss.com/jqueryui/1.10.4/css/jquery-ui.min.css" />
{% end %}

{% block content-nav %}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/admin/home">Dashboard</a></li>
        <li><a href="/admin/post/list">Post List</a></li>
        <li class="pull-right">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <a href="/admin/home"><span class="hidden-sm">&nbsp;Return to Home </span></a>
        </li>
    </ul>
</div>
{% end %}

{% block content-body %}
<div class="row">

    <form class="form-horizontal" method="post">
    {% module xsrf_form_html() %}
    {% autoescape None %}

    <div class="col-md-9" >
        <div class="row">
            <div class="col-md-6">
                {{ form.title(class_="form-control", placeholder="Title") }}
            </div>
            <div class="col-md-6 pull-left text-danger">
                {% if form.title.errors %}
                    {% for error in form.title.errors %}{{ error }}{% end %}
                {% end %}
            </div>
        </div>
        <div>
            {{ form.content(class_="ckeditor") }}
        </div>
    </div>
    <div class="col-md-3" >
        <div class="row">
            <p class="placeholder"><button type="submit" class="btn btn-primary">Publish</button></p>
        </div>

        <div class="row">
            <ul class="nav">
                <li class="text-justify">Category</li>
                <li>
                    <input value="{{ setting['default_category'] }}" type="hidden" name="post_category[]">
                </li>
                <li>
                    <div id="categorylist">
                    <!-- ajax will load content -->
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-sm col-md-8">
                        <input type="text" class="form-control" name="new_category" value="" placeholder="Add new Category" id="new_category" />
                        <span class="input-group-btn">
                            <button id="category_quick_add" class="btn btn-default" type="button">New</button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <hr />

        <div class="row">
            <ul class="nav">
                <li class="text-justify">Tag</li>
                <li>
                    <div class="input-group input-group-sm col-md-8">
                        <input type="text" class="form-control" name="new_tags" placeholder="please input tags" value="">
                        Please split tags with ','
                    </div>
                </li>
            </ul>
        </div>
        <hr />

        <div class="row">
            <ul class="nav">
                <li class="text-justify">Date</li>
                <li>
                    <div class="input-group input-group-sm col-md-8">
                    {{ form.date(id="datepicker", class_="form-control") }}
                        {% if form.date.errors %}
                        <span class="help-inline">{% for error in form.date.errors %}{{ error }}{% end %}</span>
                    {% end %}
                    </div>
                </li>
            </ul>
        </div>
        <hr />

        <div class="row">
            <ul class="nav">
                <li class="text-justify">Parent Page</li>
                <li>
                    <div class="input-group input-group-sm col-md-8">
                        {{ form.parent(class_="form-control") }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>
{% end %}

{% block other-javascript %}
<script src="/static/js/admin.js"></script>
<script src="/static/ckeditor/ckeditor.js"></script>
<script src="http://cdn.bootcss.com/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        updateCategoryList();
    });
    $(function() {
        $( "#datepicker" ).datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
{% end %}